{% extends 'base.html' %}
    
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder"> Update User
            </h1>
            <p class="lead fw-normal text-white-50 mb-0">Update your user</p>
        </div>
    </div>
</header>
<main class="container py-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form action="{% url 'update_password' %}" method="post" class="card card-body">
                {% csrf_token %}
                
                <h1 class="text-center">Update Password</h1>
        
                {{error}}                

                <div class="mb-3">
                    <label for="current-password" class="form-label">Password</label>
                    <input type="password" name="current-password" class="form-control" id ="current-password" placeholder="Current Password">
                </div>

                <div class="mb-3">
                    <label for="password1" class="form-label">New Password</label>
                    <input type="password" name="password1" class="form-control" id ="password1" placeholder="New Password">
                </div>

                <div class="mb-3">
                    <label for="password2" class="form-label">Confirm Password</label>
                    <input type="password" name="password2" class="form-control" id ="password2" placeholder="Confirm Password">
                </div>

                <button class="btn btn-primary">
                    Update
                </button>
                <a href="#" class="btn btn-secondary" onclick="window.history.back();return false;">
                    Volver
                </a>
            </form>
        </div>
    </div>
</main>

{% endblock content %}

