{% extends 'base.html' %}
    
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder"> Create Profile
            </h1>
            <p class="lead fw-normal text-white-50 mb-0">Create your profile</p>
        </div>
    </div>
</header>
<main class="container py-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form action="{% url 'update_info' %}" method="post" class="card card-body">
                {% csrf_token %}
                
                <h1 class="text-center">Update User</h1>
        
                {{error}}                

                <div class="mb-3">
                    <label for="phone" class="form-label">Teléfono</label>
                    <input type="text" name="phone" class="form-control" id ="phone" placeholder="Teléfono">
                </div>

                <div class="mb-3">
                    <label for="address1" class="form-label">Address 1</label>
                    <input type="email" name="address1" class="form-control" id ="address1" placeholder="Address">
                </div>

                <div class="mb-3">
                    <label for="address2" class="form-label">Address 2</label>
                    <input type="text" name="address2" class="form-control" id ="address2" placeholder="Address">
                </div>

                <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input type="text" name="city" class="form-control" id ="city" placeholder="City">
                </div>

                <div class="mb-3">
                    <label for="state" class="form-label">State</label>
                    <input type="text" name="state" class="form-control" id ="state" placeholder="State">
                </div>

                <div class="mb-3">
                    <label for="zip-code" class="form-label">Zip Code</label>
                    <input type="text" name="zip-code" class="form-control" id ="zip-code" placeholder="Zip Code">
                </div>

                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="country" class="form-control" id ="country" placeholder="Country">
                </div>

                <button class="btn btn-primary">
                    Save
                </button>

                <a class="btn btn-outline-dark" href="{% url 'update_password' %}">Change Password</a>
                <a class="btn btn-outline-secondary" href="{% url 'home' %}">Home</a>
            </form>
        </div>
    </div>
</main>

{% endblock content %}

